<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="back2.css">
    <link rel="stylesheet" href="background.css">
    <title>Document</title>
   
</head>
<body>
 <div class="dashboard">
    <h1>Project SHaring Application</h1>
    <header>
        <div class="user-info">
            <div class="user-name">John Doe</div>
            <div class="buttons">
                <button class="button"><a href="/submitProject">SubmitProject</a></button>
                <button class="button"><a href="/logout">Logout</a></button>
            </div>
        </div>
    </header>
   


    
    <!-- <li><a href="/logout">Logout</a></li> -->
 </div>


  

 




</body>
</html>